<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>home page</title>
<link href="home.css" rel="stylesheet" type="text/css" />
</head>

<body>
 <div id="home">
 	<div class="welcome">Hi, Janessa
    </div>
    <div>
    	<div class="menu"> 
			<ul>
   				<li> account </li>
    			<li> to-dos</li>
                <li> logout</li>
   			</ul>
 		</div>
  		<div class="content">
   			<div id="todo">
   				<ul>
    				<li> to-do-list1</li>
        			<li> to-do-list2</li>
        			<li> to-do-list3</li>
    			</ul>
   			</div>
   			<div id="acc">
        		<form>
            		<label> ID : </label> <input name="id" readonly="readonly"/>
                	<p/>
            		<label>User Name: </label> <input name="name"/>
        			<p/>
        			<label>Age: </label><input name="age"/>
       				<p/>
        			<label>Address: </label><input name="addr"/>
        			<p/>
                	<button type="submit">Submit</button>
            	</form> 			
   			</div>	
 		</div>
    </div>	
 </div>
</body>
</html>
