.comments .comment_header {
    height: 50px;
    line-height: 50px;
}

.comments .comment_header > div {
    display: inline-block;
}
.comments .comment_header > div:nth-of-type(2) {
    width: 60px;
    padding-left: 50px;
    position: relative;
    cursor: pointer;
}
.comments .comment_header > div:nth-of-type(2) span {
    position: absolute;
    width: fit-content;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    padding: 10px 20px;
    background-color: rgba(74, 74, 74, 1);
    border-radius: 10px;
    display: none;
    z-index: 1;
}
.comments .comment_header > div:nth-of-type(2):hover span {
    display: block;
}

.comments .comment_header > div:nth-of-type(2) img {
    position: absolute;
    width: 20px;
    left: 20px;
    top: 15px;
}

