.comments .oneComment {
    width: 100%;
    height:fit-content;
    padding-left: 70px;
    margin-bottom: 30px;
    box-sizing: border-box;
    position: relative;
}

.comments .oneComment a {
    width: fit-content;
    height: fit-content;
}

.comments .oneComment img {
    position: absolute;
    width: 50px;
    border-radius: 25px;
    top: 0;
    left: 0;
}
.comments .oneComment.replymode {
    padding-left: 50px;
}
.comments .replymode img {
    position: absolute;
    width: 30px;
    border-radius: 15px;
    top: 0;
    left: 0;
}