@import url("./common.css");
@import url("./header.css");
@import url("./menu.css");

#menu {
    background-color: #fff;
    left: -400px;
}

#menu.show {
    left: 0;
}

#content {
    margin-top: 80px;
    padding: 0 5%;
    width: 90%;
    margin-bottom: 20px;
    /* enable the y scroll of the content. 
    The scroll in y of body is disabled because the total height of body is less than the height of viewport*/
    /*height: 90%;
    overflow-y: scroll;*/
}
/* styles for mask*/
#mask {
    position: fixed;
    background:rgba(74, 74, 74, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
#mask.show {
    display: block;
}
/*styles for videos*/
#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* styles for #videos #major*/
#videos #major {
    flex: 1 1 1000px;
    min-width: 300px;
    max-width: 1200px;
    background-color: darkolivegreen;
    margin-right: 20px;
}
/* styles for video */
#videos #major #video {
    width: 100%;
}
#videos #major #video video {
    object-fit: cover;
    width: 100%;
}
/* styles for #intro */
#videos #major #video #intro {
    margin: 20px 0;
    width: 100%;
    height: 250px;
}
#intro > span {
    color: #000;
    font-size:x-large;
}
/* styles for #actions */
#intro #actions {
    margin: 15px 0;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#intro #actions > span {
    width: 300px;
    height:50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    display: block;
    background-color: #151515;
    border-radius: 10px;
    position: fixed;
    left: 20px;
    bottom: -50px;
}

#intro #actions #subme #sub.open {
    display:block;
}
#intro #actions #subaddedMesg.open {
    animation: subadded_show 0.3s 0.5s ease-in both,subadded_disappear 0.3s 6s ease-out forwards;
}

@keyframes subadded_show {
    from {bottom: -50px;}
    to {bottom: 20px;}
}
@keyframes subadded_disappear {
    from {bottom: 20px;}
    to {bottom: -50px;}
}

#intro #actions #subme {
    height: 100%;
    flex: 0 1 400px;
    min-width: 150px;
    line-height: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
#intro #actions #subme #who {
    padding-left: 50px;
    height: 100%;
    flex: 0 1 150px;
    min-width: 100px;
    position: relative;
}
#intro #actions #subme #who span {
    display:block;
    height: 25px;
    white-space: nowrap;
    padding: 0 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#intro #actions #subme #who span:first-of-type {
    font-size: larger;
}
#intro #actions #subme #who span:last-of-type {
    font-size:small;
}
#intro #actions #subme #who a {
    position:absolute;
    width: 50px;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
}
#intro #actions #subme #who img {
    width:100%;
    height:100%;  
    border-radius: 25px;
}
#intro #actions #subme #sub {
    height: 100%;
    flex: 0 0 80px;
    padding: 0 25px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    background-color: #000;
    display: none;
    cursor: pointer;
}
#intro #actions #subme #sub:hover {
    background-color: #323232;
}


#intro #actions #subme #subed {
    height: 100%;
    flex: 0 0 100px;
    padding: 0 50px;
    color: #000;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    background: #dfdede;
    cursor: pointer;
    position: relative;
    display: none;
}
#intro #actions #subme #subed.open {
    display: block;
}
#intro #actions #subme #subed:hover {
    background-color: #c8c8c8;
}
#intro #actions #subme #subed img {
    width: 30px;
    position: absolute;
}
#intro #actions #subme #subed > img:nth-of-type(1) {
    top: 10;
    left: 13;
}
#intro #actions #subme #subed > img:nth-of-type(2) {
    top: 8;
    right: 13;
}
#intro #actions #subme #subed > div {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 7px 8px #5f5f5f;
    display: none;
}
#intro #actions #subme #subed > div.open {
    display:block;
}

#intro #actions #subme #subed > div ul {
    padding: 0;
}
#intro #actions #subme #subed > div ul li {
    text-align:left;
    font-weight:normal;
    line-height: 40px;
    padding-left: 65px;
    cursor: pointer;
    position: relative;
}
#intro #actions #subme #subed > div ul li:hover {
    background-color: #c8c8c8;
}
#intro #actions #subme #subed > div ul li img {
    position: absolute;
    width: 25px;
    top: 7px;
    left: 15px;
}

/* styles for #others*/
#intro #actions #others {
    height: 100%;
    line-height: 50px;
    flex: 0 0 400px;
    background-color: aquamarine;
}
#intro #actions #others #like_dislike > div {
    display: inline-block;
    vertical-align: top;
}

/* styles for #like*/
#intro #actions #others #like {
    height: 100%;
    padding-left: 50px;
    background-color: #dfdede;
    width:fit-content;
    border-radius: 25px 0  0 25px;
    border-right:1px solid #c3c3c3;
    position: relative;
    cursor: pointer;
}
#intro #actions #others #like:hover {
    background-color: #c8c8c8;
}
#intro #actions #others #like > div {
    display: inline-block;
    height: 100%;
    padding-right: 10px;
}
#intro #actions #others #like img {
    position: absolute;
    width: 25px;
    top: 10px;
    left: 15px;
}

#intro #actions #others #like span {
    position: absolute;
    padding: 5px 20px;
    color: #fff;
    background:rgba(74, 74, 74, 0.7);
    white-space: nowrap;
    height: 35px;
    line-height: 35px;
    border-radius: 6px;
    top: 55px;
    left: 0;
    display: none;
}
#intro #actions #others #like:hover span {
    display: inline-block;
}

/* styles for #dislike*/
#intro #actions #others #dislike {
    height: 100%;
    padding-right: 50px;
    background-color: #dfdede;
    width:fit-content;
    border-radius: 0 25px 25px 0;
    border-left:1px solid #c3c3c3;
    box-sizing: border-box;
    margin-left: -0.5em;
    position: relative;
    cursor: pointer;
}
#intro #actions #others #dislike:hover {
    background-color: #c8c8c8;
}
#intro #actions #others #dislike img {
    position: absolute;
    width: 25px;
    top: 13px;
    right: 15px;
}
#intro #actions #others #dislike span {
    position: absolute;
    padding: 5px 20px;
    color: #fff;
    background:rgba(74, 74, 74, 0.7);
    white-space: nowrap;
    height: 35px;
    line-height: 35px;
    border-radius: 6px;
    top: 55px;
    left: 0;
    display: none;
}
#intro #actions #others #dislike:hover span {
    display: inline-block;
}


/* styles for reds */
#videos #reds {
    flex: 1 0 300px;
    max-width: 500px;
    height: 1000px;
    background-color: cadetblue;
}
/* styles for comments */
.comments {
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
    height: 400px;
    background-color: hotpink;
}

#c2 { display: none;}
@media screen and (max-width: 1474px) {
    #c1 {
        display: none;
    }
    #c2 {
        display: block;
        margin-right: 20px;
    }
    #videos #reds {
        max-width: 1200px;
        margin-right: 20px;
    }

}
