@import url("./common.css");
@import url("./header.css");
@import url("./menu.css");
@import url("./popup.css");
@import url("./video/tabs.css");
@import url("./video/primary.css");
@import url("./video/short.css");


/* styles for main container */
main {
    margin-top: 80px;
    margin-left: var(--sideSize);;
    width: calc(100% - var(--sideSize));
    padding-left: 40px;
    padding-right: 30px;
    box-sizing: border-box;
    position: relative;
}

main .line {
    padding: 2px 0;
    background-color: #c6c4c4;
    width: 100%;
    margin-bottom: 30px;
}



