/* styles for menu */
#menu {
    width: var(--sideSize);
    height: 90%;
    position:fixed;
    padding-left: 10px;
    padding-right: 15px;
    top: 80px;
    box-sizing:border-box;
    -webkit-transition: left ease-in 0.6s;
    transition: left ease-in 0.6s;
    left: 10px;
    border-radius: 20px;
    overflow-y:hidden;
    display:none;
}
#menu.active {
    display: block;
}
#menu ul {
   width:calc(var(--sideSize) - 25px - 8px);  
   /* fix bug: when toggle scroll, the width of ul dynamically changed
   Here 25px is the the sum of padding-left and padding-right in menu
   8px is the reserved for scroll
   */
}

#menu ul li {
    height: 50px;
    line-height: 50px;
    padding-left: 70px;
    font-size: large;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
#menu ul.pri li img {
    position: absolute;
    top: 7px;
    left: 10px;
}
#menu ul.subs li img {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    top: 7px;
    left: 10px;
}
#menu ul.subs li span {
    position: absolute;
    width: 10px;
    height: 10px;
    padding: 0;
    color: blue;
    font-size: larger;
    top: 0;
    right: 10px;
    display: none;
}
#menu ul.subs li.new span {
    display: block;
}

#menu ul li:hover {
    background-color: #c8c8c8;
}
#menu ul li.cur {
    background-color: #c8c8c8;
}
#menu ul li.hide {
    display: none;
}
#menu ul li.inactive {
    display: none;
}
#menu .line {
    padding: 0.5px 0;
    background-color: #f2f2f2;
}
#menu span {
    display: block;
    padding-top: 20px;
    font-size:large;
    color: #000;
}
#menu:hover {
    overflow-y: scroll;
}
/*cutsom scroll style for chrome only*/
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #b8b8b8;
    box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #fff;
}

/* style for min-menu*/
#min-menu {
    position: fixed;
    top: 80px;
    width: var(--sideSize);
    bottom: 10px;
    display: none;
}
#min-menu.active {
    display: block;
}

#min-menu ul {
    width: 100%;
    margin: 0;
    font-size: small;
    text-align: center;
}

#min-menu ul li {
    width: 100%;
    position:relative;
    box-sizing:border-box;
    border-radius: 20px;
}
#min-menu ul li a {
    display: block;
    padding: 70px 20px 20px 10px;
}

#min-menu ul li img {
    width: 40px;
    position: absolute;
    top:20px;
    left: 25px;
}
#min-menu ul li:hover {
    background-color: #c8c8c8;
}